<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
</head>
<body>
    <p>view-book works!</p>
    <div class="list row">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name"
              [(ngModel)]="Name"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="searchName()"
              >
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Books List</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let x of book ; let i = index"
              [class.active]="i == index"
              (click)="setBook(x, i)"
            >
              {{ x.bookName}}
            </li>
          </ul>
        </div>
    </div>
</body>
</html>
